{% extends "games/base.html" %}
{% block content %}
	
	<!--Heading with add a game button-->
	<div style="width: 1160px;" class="games-heading">
		<div style="width: 50%; float: left;">
			<div style="width: 50%; float: left;">
				<h1>Game Library</h1>
				<hr size=10 width=1160 color="C22E34">
			</div>
			<div style="width: 50%; float: left;">
				<img class="profile-img" style="margin-top: -5px; margin-left: -20px;" src='/{{user.profile.image}}'>
			</div>
		</div>
		
		<div style="width: 50%; float: right; text-align: right;">
			<a style="margin-right: 20px; margin-top: 15px;" class="btn btn-success" href="{% url 'games-search' %}" role="button">Add Games +</a>
			<a style="margin-right: 20px; margin-top: 15px;" class="btn btn-primary" href="{% url 'critic-match' %}" role="button" aria-disabled="true">Run Critic Match</a>
		</div>
	</div>

	

	{% if gameReviews.paginator.count == 0 %}
		<div style="width: 1100px; text-align: center; margin-top: 350px; margin-left: 85px;">
			<a class="text-muted" style="font-size: 35px;">No Games yet!</a>
			<br>
			<a style="margin-top: 15px;" class="btn btn-success" href="{% url 'games-search' %}" role="button">Add Games +</a>
		</div>
		
	{% else %}
		{% for gameReview in gameReviews %}
			<article class="media content-section" style="margin-left: 85px;">
				<!--Game Image, title, platform, release date-->
				<div>
			  		<img class="article-img" src="{{ gameReview.game.image_src }}">
			  	</div>
				
				<div class="article-metadata">
				  <h4><a class="article-title" href="{{ gameReview.game.game_src }}" target="_blank">{{ gameReview.game.game_name }}</a></h4>
				  <div style="margin-top: -2px;">
				      <a>{{ gameReview.game.platform }}</a>
				      <img src="media/platforms/{{ gameReview.game.platform }}.png">
				      <small class="text-muted">{{ gameReview.game.release_date}}</small>
				  </div>
				</div>
				
				<!--Metacritic score div-->
				<div style="width: 50%; float:left;">
				   <h6 class="score-descriptor"><a href="https://www.metacritic.com/about-metascores" target="_blank">Metacritic Score</a></h6>
				   {% if gameReview.game.metascore > 89 %}
				   		<!--Very Light Green-->
						<p style="color:#89FD6E;" class="review-number">{{ gameReview.game.metascore}}</p>
				   {% elif gameReview.game.metascore > 74 %}
				   		<!--Darker Green-->
				   		<p style="color:#45C313;" class="review-number">{{ gameReview.game.metascore}}</p>
				   {% elif gameReview.game.metascore > 49 %}
				   		<!--Yellow-->
				   		<p style="color:#F6F623;" class="review-number">{{ gameReview.game.metascore}}</p>
				   {% elif gameReview.game.metascore > 19 %}
				   		<!--Very Light Red-->
				   		<p style="color:#FF0022;" class="review-number">{{ gameReview.game.metascore}}</p>
				   {% else %}
				   		<!--Darker Red-->
				   		<p style="color:#CF041F;" class="review-number">{{ gameReview.game.metascore}}</p>
				   {% endif %}
				</div>

				<!--My Score div-->
				<div style="width: 50%; float:right;">
				    <h6 class="score-descriptor">My Score</h6>
				    {% if gameReview.user_score > 89 %}
				   		<!--Very Light Green-->
						<p style="color:#89FD6E;" class="review-number">{{ gameReview.user_score}}</p>
				   {% elif gameReview.user_score > 74 %}
				   		<!--Darker Green-->
				   		<p style="color:#45C313;" class="review-number">{{ gameReview.user_score}}</p>
				   {% elif gameReview.user_score > 49 %}
				   		<!--Yellow-->
				   		<p style="color:#F6F623;" class="review-number">{{ gameReview.user_score}}</p>
				   {% elif gameReview.user_score > 19 %}
				   		<!--Very Light Red-->
				   		<p style="color:#FF0022;" class="review-number">{{ gameReview.user_score}}</p>
				   {% else %}
				   		<!--Darker Red-->
				   		<p style="color:#CF041F;" class="review-number">{{ gameReview.user_score}}</p>
				   {% endif %}

				   <!--Erase game review section-->
				   <div class="garbage">
				   		<img src="media/garbageIcons/GarbageCan.png" style="margin-top: -130px;" alt="Delete">
				   		<a href="{% url 'game-delete' gameReview.pk %}">
				   			<img src="media/garbageIcons/GarbageCanOnHover.png" class="img-top" style="margin-top: -68px;"  alt="Delete">
				   		</a>
				   	</div>
				</div>

			</article>
		{% endfor %}
	{% endif %}

	{% if gameReviews.paginator.num_pages > 1 %}
		<a style="margin-right: 85px;">
			{% if gameReviews.has_previous %}
				<a class ="btn btn-outline-secondary mb-4" href="?page=1">First</a>
				<a class ="btn btn-outline-secondary mb-4" href="?page={{ gameReviews.previous_page_number }}">Previous</a>
			{% endif %}

			{% for num in gameReviews.paginator.page_range %}
				{% if gameReviews.number == num %}
					<a class ="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
				{% elif num > gameReviews.number|add:'-3' and num < gameReviews.number|add:'3' %}
					<a class ="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if gameReviews.has_next %}
				<a class ="btn btn-outline-secondary mb-4" href="?page={{ gameReviews.next_page_number }}">Next</a>
				<a class ="btn btn-outline-secondary mb-4" href="?page={{ gameReviews.paginator.num_pages }}">Last</a>
			{% endif %}
		</a>
	{% endif %}

	</div>
{% endblock content %}
