{% extends "games/base.html" %}
{% block content %}
	
	<!--Heading with add a game button-->
	<div style="width: 1160px;" class="games-heading">
		<div style="width: 50%; float: left;">
			<div style="width: 50%; float: left;">
				<h1>Game Library</h1>
				<hr size=10 width=1160 color="C22E34">
			</div>
			<div style="width: 50%; float: left;">
				<img style="margin-top: -5px; margin-left: -20px;" src='/{{user.profile.image}}'>
			</div>
		</div>

		<div style="width: 50%; float: right; text-align: right;">
			<a style="margin-right: 20px; margin-top: 15px;" class="btn btn-success" href="{% url 'games-search' %}" role="button">Add Games +</a>
		</div>
	</div>


	{% for gameReview in gameReviews %}
		<article class="media content-section" style="margin-left: 85px;">
			<!--Game Image, title, platform, release date-->
			<div>
		  		<img class="article-img" src="{{ gameReview.image_src }}">
		  	</div>
			
			<div class="article-metadata">
			  <h4><a class="article-title" href="{{ gameReview.game_src }}" target="_blank">{{ gameReview.game_name }}</a></h4>
			  <div style="margin-top: -2px;">
			      <a>{{ gameReview.platform }}</a>
			      <img src="media/platforms/{{ gameReview.platform }}.png">
			      <small class="text-muted">{{ gameReview.release_date}}</small>
			  </div>
			</div>
			
			<!--Metacritic score div-->
			<div style="width: 50%; float:left;">
			   <h6 class="score-descriptor"><a href="https://www.metacritic.com/about-metascores" target="_blank">Metacritic Score</a></h6>
			   {% if gameReview.critic_score > 89 %}
			   		<!--Very Light Green-->
					<p style="color:#89FD6E;" class="review-number">{{ gameReview.critic_score}}</p>
			   {% elif gameReview.critic_score > 74 %}
			   		<!--Darker Green-->
			   		<p style="color:#45C313;" class="review-number">{{ gameReview.critic_score}}</p>
			   {% elif gameReview.critic_score > 49 %}
			   		<!--Yellow-->
			   		<p style="color:#F6F623;" class="review-number">{{ gameReview.critic_score}}</p>
			   {% elif gameReview.critic_score > 19 %}
			   		<!--Very Light Red-->
			   		<p style="color:#FF0022;" class="review-number">{{ gameReview.critic_score}}</p>
			   {% else %}
			   		<!--Darker Red-->
			   		<p style="color:#CF041F;" class="review-number">{{ gameReview.critic_score}}</p>
			   {% endif %}
			</div>

			<!--My Score div-->
			<div style="width: 50%; float:right;">
			    <h6 class="score-descriptor">My Score</h6>
			    {% if gameReview.user_score > 89 %}
			   		<!--Very Light Green-->
					<p style="color:#89FD6E;" class="review-number">{{ gameReview.user_score}}</p>
			   {% elif gameReview.user_score > 74 %}
			   		<!--Darker Green-->
			   		<p style="color:#45C313;" class="review-number">{{ gameReview.user_score}}</p>
			   {% elif gameReview.user_score > 49 %}
			   		<!--Yellow-->
			   		<p style="color:#F6F623;" class="review-number">{{ gameReview.user_score}}</p>
			   {% elif gameReview.user_score > 19 %}
			   		<!--Very Light Red-->
			   		<p style="color:#FF0022;" class="review-number">{{ gameReview.user_score}}</p>
			   {% else %}
			   		<!--Darker Red-->
			   		<p style="color:#CF041F;" class="review-number">{{ gameReview.user_score}}</p>
			   {% endif %}

			   <!--Erase game review section-->
			   <div class="garbage">
			   		<img src="media/garbageIcons/GarbageCan.png" style="margin-top: -130px;" alt="Delete">
			   		<a href="{% url 'game-delete' gameReview.pk %}">
			   			<img src="media/garbageIcons/GarbageCanOnHover.png" class="img-top" style="margin-top: -68px;"  alt="Delete">
			   		</a>
			   	</div>
			</div>

		</article>
	{% endfor %}
{% endblock content %}
