{% extends "games/base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block content %}
	
	<body>
		<div style="float: left; text-align: left;">
			<a style="margin-left: 150px; margin-top: 15px;" class="btn btn-outline-secondary" href="{% url 'games-home' %}" role="button"> < Back </a>
		</div>
		<div class="search-section">
			{% if filter %}
			    <form action="" method="get" class="form form-inline" style="margin-left: 90px;">
			        {{ filter.form|crispy }}
			        <button type="submit" class="btn btn-outline-dark" style="margin-left: 15px;">Search</button>
			    </form>
			{% endif %}
			
			{% render_table table "gameTable.html" %}
		
	    </div>
    </body>
{% endblock content %}

